venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

Tensorflow/workspace/asl_dataset/
Tensorflow/workspace/pre-trained-models/
Tensorflow/workspace/models/my_ssd_mobilenet/
Tensorflow/workspace/models/exported-models/
Tensorflow/workspace/models/pipeline_backup.config
Tensorflow/workspace/annotations/*.record
Tensorflow/workspace/annotations/*.tfrecord

Tensorflow/models/

*.log
events.out.tfevents.*
.vscode/
.DS_Store
Thumbs.db

Tensorflow/workspace/images/
